.section {
  padding: 3rem 1rem;
  width: 80%;
  margin: auto;
}

.timeline {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 1.75rem;
  margin: 0;
  padding: 0;
}

.item {
  display: flex;
  gap: 1.25rem;
  align-items: flex-start;
}

.avatar {
  width: 240px;
  height: 140px;
  border-radius: 20%;
  /* object-fit: cover; */
  /* flex-shrink: 0; */
  box-shadow: var(--shadow);
}

.period {
  display: block;
  font-size: 0.9rem;
  color: var(--accent);
  margin: 0.25rem 0 0.5rem;
}

.item h3 {
  margin: 0;
  font-size: 1.15rem;
  font-weight: 600;
}

.item p {
  margin: 0.25rem 0 0;
  line-height: 1.45;
  opacity: 0.9;
}

/* ======= Responsive ======= */
@media (max-width: 768px) {
  .section {
    width: 90%;
    padding: 2rem 0rem;
  }

  .item {
    flex-direction: column;
    align-items: flex-start;
  }

  .avatar {
    /* width: 100%; */
    height: 100%;
    margin-bottom: 0.75rem;
  }
}